numpy
jupyter-client
jupyterlab
earthengine-api
geemap 
tensorflow
tensorflow-addons
tensorboard
matplotlib
mangroves_deep_learning/custom_packages/CustomNeuralNetworks/dist/CustomNeuralNetworks-0.1.0-py3-none-any.whl
mangroves_deep_learning/custom_packages/eeCustomDeepTools/dist/eeCustomDeepTools-0.1.0-py3-none-any.whl
mangroves_deep_learning/custom_packages/eeCustomTools/dist/eeCustomTools-0.1.0-py3-none-any.whl
